.container{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: teal;
}

.Active{
    text-decoration: none;
    color: yellow;
}

.default{
    text-decoration: none;
    color: white;
}

.btn{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: teal;
    color: white;
}