.container{
    width: 100%;
    height: 60px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.isActive{
    color: red;
    text-decoration: none;
}

.defauld{
    color: white;
    text-decoration: none;
}