.constainer {
    width: 100%;
    height: 100vh;
    border:red 1px
}

.card {
  background-color: white;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color:#f5f5f5 ;
  margin-top: 10px;
  padding: 0.5rem;
}

.card:hover {
  background-color: #e0d6d6;
  transform: translateY(-3px);
  cursor: pointer;
}